* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

i {
  color: red;
}

body {
  background: hsl(0, 4%, 9%);
  color: white;
}

:root {
  --margin: 35px;
  --border-color-edge: hsl(0, 0%, 22%);
  --box-shadow: -1px -0.4px 0 0 rgb(102, 102, 102);
  --small-text-color: hsl(0, 0%, 84%);
  --font-size-xs: 15px;
  --medium-text-font-size: 18px;
  --large-text-font-size: 30px;
  --p-line-height: 1.3;
  --text-boja: #585858;
  --margin-top: 50px;
  --mb-20: 20px;
  --mb-10: 10px;
  --mb-8: 8px;
  --mb-5: 5px;
  --linear-gradient: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  --border-radius: 20px;
  --backdrop-filter: blur(10px);
  --box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  --border: 1px solid rgba(255, 255, 255, 0.18);
}

/* color: var(--text-boja) !important; */

.main-container {
  margin: var(--margin-top) auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.basic-info-container,
.project-container {
  border: 1px solid var(--border-color-edge);
  border-radius: 20px;
  background-color: hsl(240, 2%, 12%);
}

.basic-info-container {
  max-width: 23%;
  width: 100%;
  height: 100%;
  max-height: fit-content;
  position: sticky;
  top: var(--margin-top);
}
.project-container {
  width: 100%;
  max-width: 75%;
  position: relative;
}

.navigation-container {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--linear-gradient);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  width: 100%;
  height: 100%;
  font-family: "Turret Road", sans-serif;
  font-size: 20px;
  display: flex;
  color: white;
  font-weight: bolder;
  padding: 20px 30px;
  cursor: pointer;
}

.active-color {
  color: red;
}

.info-container,
.contact-info-container,
.project-information-container {
  margin: 0 var(--margin);
  padding-top: 25px;
}
.pic-info-container {
  display: flex;
  flex-direction: column;

  text-align: center;
  border-bottom: 1px solid var(--border-color-edge);
  margin: 0 20px;
}

.portfolio-picture {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background: var(--linear-gradient);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  border-radius: 20px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.skill-info {
  background-color: rgb(85, 84, 84);
  border-radius: 10px;
  padding: 10px 5px;
  width: 90%;
  margin: 0 auto;
  font-family: "Turret Road", sans-serif;
  font-size: var(--font-size-xs);
}

.name {
  font-size: 25px;
  font-family: "Turret Road", sans-serif;
}

.logo-pic {
  width: 30%;
  margin: 0 auto;
}

.info > * {
  margin-bottom: var(--mb-20);
}
.icons-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: var(--mb-20);
}
.icons-container > a {
  background: var(--linear-gradient);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 10px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.information-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow-x: hidden;
  text-wrap: wrap;
}

.information-title,
.project-info-tekst {
  font-size: var(--font-size-xs);
  font-family: "Turret Road", sans-serif;
  color: var(--small-text-color);
  letter-spacing: 0.5px;
  line-height: var(--p-line-height);
}

.information-links {
  color: white;
  font-family: "Turret Road", sans-serif;
  font-size: 14px;
}

.contact-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: var(--mb-20);
}

.contact-icons-container > a > i {
  font-size: var(--large-text-font-size);

  color: white;
}

.project-title {
  font-weight: bolder;
  font-family: "Turret Road", sans-serif;
  font-size: var(--large-text-font-size);
}
.main-title {
  font-size: 40px;
  font-family: "Turret Road", sans-serif;
  position: relative;
  padding: 0 0 10px 0;
  margin-bottom: var(--mb-20);
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background: red;
  border-radius: 3px;
}

.project-info-tekst {
  margin: 10px 0;
}

.project-info-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skils-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 20px 0px 0px;
  padding: 30px;
  background: var(--linear-gradient);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  border-radius: 20px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.skils-container > i {
  font-size: 30px;

  width: 45px;
  padding: 5px 5px 5px 0;
}
.skils-container-info > h3 {
  font-size: 20px;
  font-family: "Turret Road", sans-serif;
  margin-bottom: var(--mb-8);
  font-weight: bolder;
}
.skils-container-info > p {
  color: var(--small-text-color);
  letter-spacing: 0.5px;
  line-height: var(--p-line-height);
  font-size: var(--font-size-xs);
}
.skills-container {
  display: flex;
  position: relative;
  padding-top: 20px;
  height: 100%;
}

.endoresments-container {
  position: relative;
  width: fit-content;
  text-align: center;
  background: var(--linear-gradient);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter); /* Za WebKit preglednike */
  backdrop-filter: var(--backdrop-filter); /* Standardni CSS */
  border-radius: 20px;
  border: var(--border);

  margin: 60px 20px 0px 0px;
  padding: 20px;
  width: 395px;
}

.scroll-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 20px;
  overflow: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.scroll-container::-webkit-scrollbar,
.project-info-containers::-webkit-scrollbar {
  height: 6px;
}

.scroll-container::-webkit-scrollbar-thumb,
.project-info-containers::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track,
.project-info-containers::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.endoresments-container > i,
.endoresments-container > img {
  position: absolute;
  transform: translate(30px, -60px);
  left: 0;
  top: 0;

  font-size: 50px;
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  padding: 20px;
  border-radius: 20px;
  z-index: 2;
}

.endoresments-container > img {
  height: 90px;
  max-height: 90px;
  width: 83px;
  max-width: 83px;
  object-fit: contain;
}

.endoresment-title {
  margin-bottom: var(--mb-8);
  font-size: var(--medium-text-font-size);
  font-family: "Turret Road", sans-serif;
}

.endoresment-tekst {
  color: var(--small-text-color);
  letter-spacing: 0.5px;
  line-height: var(--p-line-height);
  font-size: var(--font-size-xs);
}

.clients-container {
  display: flex;
  gap: 50px;
  margin: 20px 0;
  overflow: auto;
  padding-bottom: 20px;
  /* height: max-content; */
}

.client-img-container {
  width: 300px;
  display: flex;
  align-items: center;
}
.client-img {
  max-height: 100px;
  object-fit: cover;
}

.window {
  margin-bottom: var(--mb-20);
  display: none;
  opacity: 1;
  transition: 0.5s ease;
}
.active {
  display: block;
  transition: 1s ease;
}

.work-container {
  margin-bottom: var(--mb-20);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.title-container > p > i {
  background: var(--linear-gradient);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 10px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.experience-item {
  margin-bottom: var(--mb-20);
}

.experience-item-title {
  font-size: var(--medium-text-font-size);
  font-family: "Turret Road", sans-serif;
  margin-bottom: var(--mb-8);
  font-weight: bolder;
}
.experience-item-text {
  color: var(--small-text-color);
  letter-spacing: 0.5px;
  line-height: var(--p-line-height);
  font-family: "Turret Road", sans-serif;
  font-size: var(--font-size-xs);
}
.experience-item-period {
  color: red;
  letter-spacing: 0.5px;
  line-height: var(--p-line-height);
  margin-bottom: var(--mb-5);
  font-family: "Turret Road", sans-serif;
}

.experience-list {
  padding-left: 30px;
  list-style: none;
}
.experience-item {
  padding-left: 34px;
  position: relative;
}

.experience-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -10px;
  width: 1px;
  height: calc(100% + 50px);
  background: red;
}
.experience-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -14px;
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 50%;
}

.work-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: var(--mb-10);
}

.website-container {
  height: max-content;
}

.website-link {
  position: relative;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.website-link > i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 40px;
  background: #0000008a;
  width: 10%;
  height: 10%;
  opacity: 0;
  border-radius: 15px;
  transition: 0.5 ease;
}

.website-test {
  padding: 20px 20px 20px 10px;
}

.website-title {
  padding-top: 10px;
  font-size: 20px;
  font-family: "Turret Road", sans-serif;
  margin-bottom: var(--mb-8);
  font-weight: bolder;
}

.website-text {
  color: var(--small-text-color);
  letter-spacing: 0.5px;
  line-height: var(--p-line-height);
  font-size: var(--font-size-xs);
  font-family: "Turret Road", sans-serif;
}
.webiste-img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  padding: 15px;
  background: var(--linear-gradient);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: 0.2s ease;
}

.website-link:hover .webiste-img {
  transition: 0.2s ease;
  padding: 0;
  opacity: 0.7;
}

.website-link:hover .eye-icon {
  transition: 0.2s ease;
  width: 20%;
  height: 20%;
  opacity: 1;
}

iframe {
  margin-bottom: var(--mb-20);
  filter: grayscale(1) invert(1);
  width: 100%;
}

.contact-title {
  font-weight: bolder;
  font-family: "Turret Road", sans-serif;
  font-size: var(--large-text-font-size);
  margin-bottom: var(--mb-20);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.input-container {
  display: flex;
  justify-content: space-between;
}

.input-container > input {
  width: 48%;
  padding: 15px;
  font-family: "Turret Road", sans-serif;
  font-size: var(--font-size-xs);
  color: white;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
}
textarea {
  padding: 20px 20px 20px 15px;
  font-family: "Turret Road", sans-serif;
  font-size: var(--font-size-xs);
  color: white;
}
button {
  align-self: end;
  padding: 10px;
  font-family: "Turret Road", sans-serif;
  font-size: var(--medium-text-font-size);
  color: red;
  cursor: not-allowed;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
}

button,
textarea,
.input-container > input {
  background: var(--linear-gradient);
  border-radius: 20px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
input:focus,
textarea:focus {
  border-color: red;
  outline: none;
}

.show-info {
  display: none;
}

@media screen and (max-width: 1244px) {
  .main-container {
    flex-direction: column;
    padding: 0 60px;
  }
  .basic-info-container {
    position: relative;
    top: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    margin-bottom: var(--mb-20);
  }
  .pic-info-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    gap: 20px;
  }
  .portfolio-picture {
    max-width: 170px;
    margin: unset;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name {
    width: fit-content;
    font-size: 20px;
  }
  .logo-pic {
    max-width: 70px;
    width: 100%;
    margin: 0 0 var(--mb-20) 0;
  }
  .skill-info {
    margin: 0 0 var(--mb-20) 0;
    width: 175px;
    font-size: 14px;
  }
  .contact-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--border-color-edge);
  }
  .contact-icons-container {
    margin: 20px;
    justify-content: start;
  }
  .info-container,
  .contact-info-container,
  .project-information-container {
    margin: 0 20px;
  }
  .project-container {
    max-width: 100%;
  }
  .work-projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .webiste-img {
    height: 250px;
  }
}
@media screen and (max-width: 1020px) {
  .main-container {
    padding: 0 40px;
    margin: 10px 0 80px;
  }

  .navigation-container {
    position: fixed;
    bottom: 0;
    height: fit-content;
    top: unset;
    max-width: 100%;
    border-bottom-left-radius: unset;
    border-top-left-radius: 20px;
    justify-content: center;
    z-index: 3;
    backdrop-filter: 1px;
    -webkit-backdrop-filter: 1px;
    background-color: hsl(240, 2%, 12%);
  }
  .pic-info-container {
    border-bottom: none;
  }

  .contact-icons-container {
    margin: 0;
  }
  .contact-info-container {
    padding: 0;
    border-top: 1px solid var(--border-color-edge);
  }
  .contact-info-container,
  .contact-icons-container {
    height: 0;
    transition: 0.3s ease;
    opacity: 0;
  }

  .active-info {
    height: 160.5px;
    transition: 0.5s ease;
    padding-top: 25px;
  }
  .active-icons {
    height: 30px;
    transition: 0.5s ease;
    margin: 20px;
  }

  .project-info-containers {
    display: block;
  }
  .clients-container {
    display: flex;
  }
  .skils-container {
    justify-content: start;
    margin: 20px 0;
  }
  .website-test {
    padding: 20px 20px 0 10px;
  }
  .website-title {
    padding-top: 0px;
  }
  .work-projects-container {
    grid-template-columns: 1fr 1fr;
  }
  .show-info {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--linear-gradient);
    backdrop-filter: var(--backdrop-filter);

    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 5px 25px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    color: red;
    font-weight: bolder;
  }
}

@media screen and (max-width: 580px) {
  .info-container,
  .contact-info-container,
  .project-information-container {
    margin: 0 10px;
  }
  .main-container {
    padding: 0 10px;
    margin: 10px 0 60px;
  }
  .navigation-link {
    padding: 15px 20px;
    font-size: 12px;
  }
  .portfolio-picture {
    max-width: 120px;
    height: fit-content;
  }
  .logo-pic {
    max-width: 50px;
    order: 3;
  }
  .name {
    width: fit-content;
    font-size: 16px;
  }
  .skill-info {
    font-size: 13px;
    width: 150px;
  }
  .info {
    align-items: start;
    justify-content: start;
  }
  .contact-info-container {
    display: block;
    padding-bottom: 0;
    padding-top: 0px;
  }

  .main-title {
    font-size: 25px;
  }

  .project-title {
    font-size: 24px;
  }

  .icons-container {
    margin-bottom: var(--mb-10);
  }
  .contact-icons-container > a > i {
    font-size: 20px;
  }
  .skils-container {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .scroll-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .endoresments-container {
    width: 100%;
    min-width: 100%;
    padding: 40px 20px 20px 20px;
  }
  .main-title::after {
    width: 60px;
  }
  .experience-item-title {
    font-size: 16px;
  }
  .experience-list {
    padding-left: 25px;
  }
  .experience-item {
    padding-left: 28px;
  }
  .title-container {
    margin-bottom: 25px;
  }
  .title-container > p > i {
    font-size: 15px;
    padding: 6px;
  }
  .work-projects-container {
    display: block;
  }

  .website-container {
    border-top: 1px solid var(--border-color-edge);
    border-bottom: 1px solid var(--border-color-edge);
    padding: 20px 0;
  }
  .input-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .input-container > input {
    width: 100%;
  }
  button {
    align-self: start;
  }
  .contact-title {
    font-size: 24px;
  }

  .active-info-mobile {
    height: 255.5px;
    transition: 0.5s ease;
    padding-bottom: 15px;
    padding-top: 25px;
  }
  .active-icons-mobile {
    height: 21px;
    transition: 0.5s ease;
    margin: 20px;
  }
}

@media screen and (max-width: 420px) {
  .info > * {
    margin-bottom: 10px;
  }
  .info {
    align-items: start;
    justify-content: end;
  }
}
